.env
Server/influxdb/data/*
Server/grafana/data/*
Server/nodered/data/*


#Les fichiers de nodered à garder
!Server/nodered/data/package.json
!Server/nodered/data/flows.json
!Server/nodered/data/settings.js
