
# === THE THINGS NETWORK ===
TTN_BROKER= #Nom du serveur (eu1....)
TTN_USER= #Nom de l'app (a récup dans l'intégration mqtt)
TTN_PASSWORD= #clé API (a récup dans l'intégration mqtt)

# === INFLUXDB ===
INFLUX_URL =
INFLUX_ORG =
INFLUX_BUCKET =
INFLUX_TOKEN =

# === Certificat SSL ===
SSL_CERT_PATH =
