# === INFLUXDB===
INFLUXDB_TOKEN= #Au choix
INFLUXDB_ORG= #Au choix
INFLUXDB_BUCKET= #Au choix
INFLUXDB_USER= #Au choix
INFLUXDB_PASSWORD= #Au choix (>8 caracteres)

# === GRAFANA ===
GRAFANA_ADMIN_USER= #Au choix
GRAFANA_ADMIN_PASSWORD= #Au choix

# === THE THINGS NETWORK ===
TTN_SERVER= #Nom du serveur (eu1....)
TTN_APP_ID= #Nom de l'app (a récup dans l'intégration mqtt)
TTN_API_KEY= #clé API (a récup dans l'intégration mqtt)
