# === INFLUXDB===
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
INFLUXDB_USER=
INFLUXDB_PASSWORD=

# === GRAFANA ===
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# === THE THINGS NETWORK ===
TTN_SERVER=
TTN_APP_ID=
TTN_API_KEY=
